@model List<InventoryManager.Models.InventoryItem>

<h1>Inventory</h1>



<table class="table">
    <tr>
        <th>Name</th>      
        <th>Upc</th>
        <th>Cost</th>
        <th>Date Added</th>
        <th>Category</th>
        <th>Quantity</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Upc</td>
            <td>@item.Cost</td>
            <td>@item.DateAdded</td>
            <td>@item.Category.Name</td>
            <td>@item.Quantity</td>
        </tr>
    }
</table>

@if (Model.Count == 0)
{
    <p>No Inventory</p>
}

<p>
    <a asp-controller="Inventory" asp-action="Add">Add Item</a>
    &nbsp; | &nbsp;
</p>